@using MvcStore.Models.Entity
@model List<tblPersonel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Departman</td>
            <td><a href="/Personel/Sil/@x.Id" class="btn btn-danger" onclick="return confirm('Silmek istediğine eminmisin?')">Sil</a></td>
            <td><a href="/Personel/List/@x.Id" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Personel/YeniPersonel" class="btn btn-primary" style="margin-top:25px">Personel Ekle</a>


