@*@model MvcStore.Models.Entity.tblKategori*@
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Kategori adını giriniz...</label>
    <input class="form-control" type="text" name="Ad" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>


